@charset "UTF-8";
/* CSS Document */

/* Nav Bar */


.second-nav {
	background: #f2f2f2;
	color: #482309 !important;
}

.second-nav-lnk {
    color: #482309;
}


.phone {
  color: #482309;
}

.compact-nav {
    border-bottom: 1px solid #e0e0e0;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
	
	
/* Header */

/* Links */

span a {
	color: #00a9e0 !important;
}

span a:hover {
	text-decoration: underline;
	color: #00a9e0 !important;
}

/* End Links */


/* Typography */

h2 {
	font-size: 140%;
	text-transform: uppercase;
}

/* Body */

.static-text {
	font-size: small;
}


.catagory-title, .sub-catagory-title {
    font-family: frutiger;
    font-weight: lighter;
    text-transform: uppercase;
} /* H1 */

/* Module */

.thumbs_caption {
	background-color: #003c4f;
}

